body {
background-color: rgb(251,237,210);
color: black;


}
<style type="text/css">
h1 {font-size:60px;}
h2 {font-size:40px;}
h3 {font-size: 30px;}
p {font-size:16px; line-height: 160%}
</style>

